<% //받아와야 하는것
	//	var userID = "";	유저아이디
	//	var userName = "";	유저명
	//request에서 가져온 boardType
	var boardType="";;
%>
<!DOCTYPE html>
<html>
	<head>
		<title>보드글입니다.</title>
		<style>
			body			{	height:100%;	width: 1000px;}
			label			{display: inline-block;	width: 400px;}
			#MainConsult	{width: 1500px;	height:500px;}
		</style>
	</head>
	
	<body >
			<form action="./boardEnrollAction" method="post" >
				<input type = "text" name = "boardWriterID" class = "form-control"  value = <%=userID%>style = "display: none;">
			
				<label>게시판종류</label>
				<select name = "boardType">
					<option value="<%=boardType%>">
						<%if(boardType=="tripForum"){%>여행게시판<%}%>
						<%if(boardType=="countryForum"){%>해외포럼<%}%>
						<%if(boardType=="freeForum"){%>자유게시판<%}%>
					</option>
				</select><br>
				
				<label>게시판분류</label>
				<select name = "boardClassfy" >
					<% if(boardType=="tripForum"||boardType=="countryForum"){%>
						<option value="Korea">한국</option>
						<option value="China">중국</option>
						<option value="Japan">일본</option>
					<%}else if(boardType=="freeForum"){%>
						<option value="Free">자유게시판</option>
					<%}%>
				</select><br>
				<%if(boardType=="tripForum"){%>
					<label>몇월에 있었던 일인가요?</label>
					<select name = "tirpFroumMon" >
						<option value="1">1월</option>
						<option value="2">2월</option>
						<option value="3">3월</option>
						<option value="4">4월</option>
						<option value="5">5월</option>
						<option value="6">6월</option>
						<option value="7">7월</option>
						<option value="8">8월</option>
						<option value="9">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select><br>
				<%}else{%>
					<select name = "tirpFroumMon" style="display: noe;"><option value="-1" style="display:none"></option></select>
				<%}%>
				<label>게시판제목</label>
				<input type = "text" name = "boardTitle" class = "form-control" maxlength = "30" style = "width:300px"><br />
				
				<label>작성자이름</label>
				<select name = "boardWriter" ><option value = "<%=username%>" selected><%=userName%></option></select><br>
				
				<label>본문</label>
				<textarea  name = "boardContent" maxlength = "4096" style = "height:180px; width:700px;"></textarea><br/>
				
				<input type = "submit" value = "등록하기" style = "position:absolute; left:650px;">
			</form>
			<%if(boardType==null||boardType==""){%>
				<a href = "./index"><input type ="button" value = "취소"style = "position:absolute; left:10px;"> </a>
			<%}else{ %>
				<a href = "./<%= boardType%>"><input type ="button" value = "취소"style = "position:absolute; left:10px;"> </a>
			<%} %>
</html>
