
<%
//가져와야하는 데이터
//var userID = "";
//var userName="";
//var board ="";//이거 key(보드아이디말함)로 검색한 boardList[key]
%>
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset = "UTF-8">
	<title>WTG</title>
	<link rel = "stylesheet" href = "/public/styles/styles.css"/>
	<script src = "/public/scripts/scripts.js"></script>
</head>
<body>
	<header>
		<div id = "backtoindex" style="position:absolute; top:25px; text-align:center; width:200px;">
        	<a href = "../board/tripplan" style="color:black;text-decoration: none;">wtg</a>
  		  </div>
   		 <nav    style="position:absolute;right:0px;width:80%;">  
    	    <ul>
				<li><a href= "../board/tripplan"    style="color:black;text-decoration: none;">   여행 플랜</a></li>
				<li><a href= "../board/triplog"     style="color:black;text-decoration: none;">   여행 일지</a></li>
				<li><a href= "../board/tripforum"   style="color:black;text-decoration: none;">   여행게시판</a></li>
				<li><a href= "../board/countryforum"style="color:black;text-decoration: none;">     해외 포럼</a></li>
				<li><a href= "../board/freeforum"   style="color:black;text-decoration: none;">   자유게시판</a></li>
        	</ul>
  		</nav>
	</header>
	<section>
		<article id = freeForum2>
			<div id = "upperBoardBorderSolid">
				해외포럼
			</div>
			<div id = "mainBoard">
				<table style="width:100%;table-layout:fixed" >
						<thead style ="text-align:center;">
							<tr style = "background-color:#B2CCFF">
								<th width = "10%">제목</th>
								<th width = "40%"><%=board.boardTitle%></th>
								<th width = "10%">나라</th>
								<th width = "20%"><%=board.boardClassify%></th>
								<th width = "10%">작성자</th>
								<th width = "10%"><%=board.boardWriter%></th>
							</tr>
							<tr ><th colspan="6">내용</th></tr>
						</thead>
						<tbody >
							<tr >
								<td colspan = "6"><%-board.boardContent%></td>
							</tr>
						</tbody>
					</table>
			</div>
			
<!--표 아랫부분  -->											
			<div >
				<%if((board.boardWriterID==userID)){%>
					<a onclick = "return confirm('수정하시겠습니까?')" href="./reformBoard?key=<%=board.key%>">수정</a>
					<a onclick = "return confirm('삭제하시겠습니까?')" href="./deleteActionBoard?key=<%=board.key%>">삭제</a>
				<%}%>
			</div>
			

				
		</article>
	
		<article id = "LoginMenu">
			<% if(!userName){ %>
				<form method = "post" action = "../users/login">
					<div id = "idpwd1">
						
						<div id = "id">
							아이디
							<div id = "idbox"><input type = "text" name = "userid" class = "form-control" size = 30></div>
						</div>
						
						<div id = "psd">
							패스워드
							<div id = "psdbox"><input type = "password" name = "userpassword" class = "form-control" size = 20></div>
						</div>
						
						<button id = "login"type = "submit" >로그인</button>
					</div>
					
					<div id = "idpwd1">
						<div id = "createidandpassword">
							<a href = "../users/join">회원가입</a>
						</div>
					</div>
				</form>

			<%}else{ %>
				<%= userName %>님 환영합니다.<br>
				<a href = "../users/logout">로그아웃.</a>
			<%} %>
		</article>
	</section>
	<footer>
		  
			개인정보처리방침<br>
			copyright  all right reserved
	</footer>
</body>

</html>







