<%
//가져와야하는 데이터
//var userID = "";
//var userName="";
//var board ="";
//url로 보낸 key로 검색한 travel보드
%>



<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset = "UTF-8">
		<title>WTG</title>
		<link rel = "stylesheet" href = "/public/styles/styles.css"/>
		<script src = "/public/scripts/scripts.js"></script>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>

		<script>
			var board = <%-JSON.stringify(board)%>;
			var pageNo = 1;
			var maxPage = board.travelTotalSpanTime;
			function renewContent()
			{

				var contentLR = $("#contentTable tr:eq(3)");				
				$("#dayL").text(pageNo + "일차");
				$("#dayR").text(pageNo+1 + "일차");
				contentLR.children("td").eq(0).text("");
				contentLR.children("td").eq(0).append(board["travelContent" + pageNo]);
				contentLR.children("td").eq(1).text("");
				contentLR.children("td").eq(1).append(board["travelContent" + parseInt(pageNo+1)]);
				$("#travelContentR").val(board["travelContent" + pageNo+1]);
			}

			function pageUp() {
				if(pageNo == maxPage) return;
				pageNo++;
				if(pageNo > 1) $("#before").show();
				if(pageNo == maxPage) $("#next").hide();
				else $("#next").show();
				renewContent();
			}

			function pageDown(){
				if(pageNo == 1)	return;
				pageNo--;
				if(pageNo < maxPage) $("#next").show();
				if(pageNo == 1) $("#before").hide();
				else $("#before").show();
				renewContent();
			}

		</script>
	</head>
	<body onload="renewContent();">
		<header>
			<div id = "backtoindex" style="position:absolute; top:25px; text-align:center; width:200px;">
				<a href = "../board/tripplan" style="color:black;text-decoration: none;">wtg</a>
				</div>
				<nav    style="position:absolute;right:0px;width:80%;">  
				<ul style= "display: inline-block;width :15%;">
					<li><a href= "../board/tripplan"    style="color:black;text-decoration: none;">   여행 플랜</a></li>
					<li><a href= "../board/triplog"     style="color:black;text-decoration: none;">   여행 일지</a></li>
					<li><a href= "../board/tripforum"   style="color:black;text-decoration: none;">   여행게시판</a></li>
					<li><a href= "../board/countryforum"style="color:black;text-decoration: none;">     해외 포럼</a></li>
					<li><a href= "../board/freeforum"   style="color:black;text-decoration: none;">   자유게시판</a></li>
				</ul>
			  </nav>
		</header>
  		<section>
			<article id = "index2">
				<div id = "upperBoardBorderSolid">
					<%
						//지도들어가는자리.
						//travelMapPos1부터 travelMapPos10까지 받음
					%>
				</div>

				<div id = "mainBoard">
					<table style="width:100%;table-layout:fixed" id="contentTable">
							<thead style ="text-align:center;">
								<tr style = "background-color:#B2CCFF">
									<th width = "10%">나라</th>
									<th width = "20%"><%=board.travelCountry%></th>
									<th width = "10%">출발일</th>
									<th width = "25%"><%=board.travelStartDate%></th>
									<th width = "10%">총여행기간</th>
									<th width = "25%"><%=+board.travelTotalSpanTime%></th>
								</tr>
								<tr>
									<td >작성자</td>
									<td ><%=board.travelWriter%></td>
									<td >제목</td>
									<td colspan="3" ><%=board.travelTitle%></td>
								</tr>
								<tr style = "background-color:#B2CCFF">
									<th colspan="3">
										<label id="dayL">1일차</label>
									</th>
									<th colspan="3">
										<label id="dayR">2일차</label>
									</th>
								</tr>
							</thead>
							<tbody >
									<td colspan = "3">
									</td>
									<td colspan = "3">
									</td>
							</tbody>
						</table>
				</div>

				<div >
					<button id="before" onclick="pageDown()" style="display:none" >이전페이지로</button>
					<button id="next" onclick="pageUp()" >다음페이지로</button>
					<%if(board.travelWriterID==userID){%>
					<a onclick = "return confirm('수정하시겠습니까?')" href="./reformTravel?key=<%=board.key%>">수정</a>
					<a onclick = "return confirm('삭제하시겠습니까?')" href="./deleteActionTravel?key=<%=board.key%>">삭제</a>
					<%}%>
				</div>
			</article>
			<article id = "LoginMenu">
				<% if(!username){ %>
					<form method = "post" action = "../users/login">
						<div id = "idpwd1">
							
							<div id = "id">
								아이디
								<div id = "idbox"><input type = "text" name = "userid" class = "form-control" size = "30"></div>
							</div>
							
							<div id = "psd">
								패스워드
								<div id = "psdbox"><input type = "password" name = "userpassword" class = "form-control" size = "20"></div>
							</div>
							
							<button id = "login"type = "submit" >로그인</button>
						</div>
						
						<div id = "idpwd1">
							<div id = "createidandpassword">
								<a href = "../users/join">회원가입</a>
							</div>
						</div>
					</form>

				<%}else{ %>
					<%= username %>님 환영합니다.<br>
					<a href = "../users/logout">로그아웃.</a>
				<%} %>
			</article>
		</section>
		<footer>
			
			개인정보처리방침<br>
			copyright  all right reserved
		</footer>
	</body>
</html>
