<%
//가져와야하는 데이터
//var userID = "";
//var userName="";
//var board ="";
//url로 보낸 key로 검색한 travel보드
%>



<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset = "UTF-8">
		<title>WTG</title>
		<link rel = "stylesheet" href = "./styles/styles.css"/>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>

		<script>
			var board = <%-JSON.stringify(board)%>;
			var pageNo = 1;
			var maxPage = board.travelTotalSpanTime;
			function renewContent()
			{

				var contentLR = $("#contentTable tr:eq(3)");				
				$("#dayL").text(pageNo + "일차");
				$("#dayR").text(pageNo+1 + "일차");
				contentLR.children("td").eq(0).text("");
				contentLR.children("td").eq(0).append(board["travelContent" + pageNo]);
				contentLR.children("td").eq(1).text("");
				contentLR.children("td").eq(1).append(board["travelContent" + parseInt(pageNo+1)]);
				$("#travelContentR").val(board["travelContent" + pageNo+1]);
			}

			function pageUp() {
				if(pageNo == maxPage) return;
				pageNo++;
				if(pageNo > 1) $("#before").show();
				if(pageNo == maxPage) $("#next").hide();
				else $("#next").show();
				renewContent();
			}

			function pageDown(){
				if(pageNo == 1)	return;
				pageNo--;
				if(pageNo < maxPage) $("#next").show();
				if(pageNo == 1) $("#before").hide();
				else $("#before").show();
				renewContent();
			}

		</script>
	</head>
	<body onload="renewContent();">
		<header>
			<%- include ('./part/header.ejs') %>
		</header>
  		<section>
			<article id = "index1">
				<div id = "upperBoardBorderSolid">
					<%
						//지도들어가는자리.
						//travelMapPos1부터 travelMapPos10까지 받음
					%>
				</div>

				<div id = "mainBoard">
					<table style="width:100%;table-layout:fixed" id="contentTable">
							<thead style ="text-align:center;">
								<tr style = "background-color:#B2CCFF">
									<th width = "10%">나라</th>
									<th width = "20%"><%=board.travelCountry%></th>
									<th width = "10%">출발일</th>
									<th width = "25%"><%=board.travelStartDate%></th>
									<th width = "10%">총여행기간</th>
									<th width = "25%"><%=+board.travelTotalSpanTime%></th>
								</tr>
								<tr>
									<td >작성자</td>
									<td ><%=board.travelWriter%></td>
									<td >제목</td>
									<td colspan="3" ><%=board.travelTitle%></td>
								</tr>
								<tr style = "background-color:#B2CCFF">
									<th colspan="3">
										<label id="dayL">1일차</label>
									</th>
									<th colspan="3">
										<label id="dayR">2일차</label>
									</th>
								</tr>
							</thead>
							<tbody >
									<td colspan = "3">
									</td>
									<td colspan = "3">
									</td>
							</tbody>
						</table>
				</div>

				<div >
					<button id="before" onclick="pageDown()" style="display:none" >이전페이지로</button>
					<button id="next" onclick="pageUp()" >다음페이지로</button>
					<%if(board.travelWriterID==userID){%>
					<a onclick = "return confirm('수정하시겠습니까?')" href="./reformTravel?key=<%=board.key%>">수정</a>
					<a onclick = "return confirm('삭제하시겠습니까?')" href="./deleteActionTravel?key=<%=board.key%>">삭제</a>
					<%}%>
				</div>
			</article>
			<article id = "LoginMenu">
				<%- include ('./part/login.ejs')%>
			</article>
		</section>
		<footer>
			<%- include ('./part/footer.ejs') %>
		</footer>
	</body>
</html>
