<%
//가져와야하는 데이터
//var userID = "";
//var userName="";
//var board ="";//이거 key(보드아이디말함)로 검색한 boardList[key]


//자체 페이지번호()
var pageNo=1;
%>



<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset = "UTF-8">
		<title>WTG</title>
		<link rel = "stylesheet" href = "./styles/styles.css"/>
	
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
		<script>
			var pageNo = <%-JSON.stringify(pageNo)%>;
			var board = <%-JSON.stringify(board)%>;
			function renewContent()
			{
				$("#travelContentL").val(board.boardContent[pageNo]);
				$("#travelContentR").val(board.boardContent[pageNo+1]);
				

			}
			function pageUp() {pageNo+=1;renewContent();}
			function pageDown(){pageNo-=1;renewContent();}

		</script>
	</head>
	<body>
		<header>
			<%- include ('./part/header.ejs') %>
		</header>
  		<section>
			<article id = "index1">
				<div id = "upperBoardBorderSolid">
					<%
						//지도들어가는자리.
						//travelMapPos1부터 travelMapPos10까지 받음
					%>
				</div>

				<div id = "mainBoard">
					<table style="width:100%;table-layout:fixed" >
						<thead style ="text-align:center;">
							<tr style = "background-color:#B2CCFF">
								<th width = "10%">나라</th>
								<th width = "20%"><%=board.travelCountry%></th>
								<th width = "10%">출발일</th>
								<th width = "25%"><%=board.travelStartDate%></th>
								<th width = "10%">총여행기간</th>
								<th width = "25%"><%=+board.travelTotalSpanTime%></th>
							</tr>
							<tr>
								<td >작성자</td>
								<td ><%=board.travelWriter%></td>
								<td >제목</td>
								<td colspan="3" ><%=board.travelTitle%></td>
							</tr>
							<tr style = "background-color:#B2CCFF">
								<th colspan="3"><%=pageNo%>일차</th>
								<th colspan="3"><%=pageNo+1%>일차</th>
							</tr>
						</thead>
						<tbody >
							<td colspan = "3" id="travelContentL"><%=board.travelContent1%></td>
							<td colspan = "3" id="travelContentR"><%=board.travelContent2%></td>
						</tbody>
					</table>
				</div>
														
				<div >
					<%if(pageNo<9){%>
						<button onclick="pageUp()" >다음페이지로</button>
					<%}if(pageNo>1){%>
						<button onclick="pageDown()" >이전페이지로</button>
					<%}if((board.travelWriterID==userID)){%>
						<a onclick = "return confirm('수정하시겠습니까?')" href="./reformTravel?key=<%=board.key%>">수정</a>
						<a onclick = "return confirm('삭제하시겠습니까?')" href="./deleteActionTravel?key=<%=board.key%>">삭제</a>
					<%}%>
				</div>
			</article>
			<article id = "LoginMenu">
				<%- include ('./part/login.ejs')%>
			</article>
		</section>
		<footer>
			<%- include ('./part/footer.ejs') %>
		</footer>
	</body>
	</html>
	
	
	
	
	
	
	
	
