<%
//검색조건으로 검색한 보드 데이터시트
//var boardList=[];
//var userName = "";
//var pageNo=1;

//보드 총개수
var numberOfSearchedBaords=boardList.length;
//페이지당 보드 출력수.
var boardIndexNoPerPage=15;

%>



<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset = "UTF-8">
<title>WTG</title>
	<link rel = "stylesheet" href = "/public/styles/styles.css"/>
	<script src = "/public/scripts/scripts.js"></script>
</head>
</head>
<body>
	<header>
		<div id = "backtoindex" style="position:absolute; top:25px; text-align:center; width:200px;">
        	<a href = "../board/tripPlan" style="color:black;text-decoration: none;">wtg</a>
  		  </div>
   		 <nav    style="position:absolute;right:0px;width:80%;">  
    	    <ul>
				<li><a href= "../board/tripPlan"    style="color:black;text-decoration: none;">   여행 플랜</a></li>
				<li><a href= "../board/tripLog"     style="color:black;text-decoration: none;">   여행 일지</a></li>
				<li><a href= "../board/tripForum"   style="color:black;text-decoration: none;">   여행게시판</a></li>
				<li><a href= "../board/countryForum"style="color:black;text-decoration: none;">     해외 포럼</a></li>
				<li><a href= "../board/freeForum"   style="color:black;text-decoration: none;">   자유게시판</a></li>
        	</ul>
  		</nav>
	</header>
<section>
<article id = freeForum1>
	<div id = "upperBoardBorderSolid">
		여행게시판
	</div>
	<div id = "mainBoard">
		<table style="width:100%;text-align:center;" >
			<thead style ="text-align:center;background-color:#B2CCFF;">
				<tr >
					<th width="10%">번호</th>
					<th width="10%">분류</th>
					<th width="15%">출발월</th>
					<th width = "50%">제목</th>
					<th width = "15%">작성자</th>
				</tr>
			</thead>
			<tbody>

<%//보드 내용 검색
				//보드 에러
				if(boardList==""){%>
					<tr><td colspan = "6"><h1 >등록된 보드가 없습니다.</h1></td></tr>
				<%}

				//보드 검색내용 없음
				else if(numberOfSearchedBaords==0){%>
					<tr><td colspan = "6"><h1 >등록된 글이 없습니다..</h1></td></tr>
				<%}

				//보드 검색중.
				else{
					//순서검색
					var  NoStart =numberOfSearchedBaords-(pageNo-1)*boardIndexNoPerPage-1;
					var NoNextStart = NoStart-boardIndexNoPerPage-1;

					
					for(var indexNo=NoStart ;(indexNo>=1)&&(indexNo>NoNextStart);indexNo--){%>
						<tr>
							<td><a href= "./tripForum2?key=<%=boardList[indexNo-1].key%>" style="text-decoration:none;color:black"><%=indexNo%></a></td>	
							<td><a href= "./tripForum2?key=<%=boardList[indexNo-1].key%>" style="text-decoration:none;color:black">
								<%if(boardList[indexNo-1].boardClassify=="Korea"){%>한국
								<%}
								else if(boardList[indexNo-1].boardClassify=="Japan"){%>일본
								<%}else if(boardList[indexNo-1].boardClassify=="China"){%>중국
								<%}%>
							</a></td>	
							<td><a href= "./tripForum2?key=<%=boardList[indexNo-1].key%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].tripForumMon%>월</a></td>	
							
							<td><a href= "./tripForum2?key=<%=boardList[indexNo-1].key%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardTitle%></a></td>	
							<td><a href= "./tripForum2?key=<%=boardList[indexNo-1].key%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardWriter%></a></td>
						</tr>
				
					<%}
				}%>
			</tbody>
		</table>
		</div>
		<div id = "BoardSearch">
			
			<%
			//글수에 따라 << 1 ... 10>>, <<현재 , ... , 현재+8 >>식 이동.
			//가장 오랜된글 >>(맨끝으로)
			//1 : <<(최신글로)
			//MaxIndexAdd1 : 10개 못채우는 나머지 있을때 최대페이지번호 +1해줘야함.
			if(boardList!=""&&numberOfSearchedBaords!=0){
						
				var MaxIndexAdd1=0;		if(numberOfSearchedBaords%boardIndexNoPerPage!=0){MaxIndexAdd1=1;}
				var MaxIndex=parseInt(numberOfSearchedBaords/boardIndexNoPerPage)+		MaxIndexAdd1;%> 
				<div id="BoardpageNo">
					<a href="./tripForum?pageNo=<%=1%>"><<</a>
						<%
						//시작번호 10넘어가면 현재번호부터 10개
						if(pageNo>10)
						{%>
							<a href="./tripForum?pageNo=<%=pageNo-10%>"> &nbsp < &nbsp </a>	
							<%for(var i=pageNo;(i<pageNo+10)&&(i<=MaxIndex);i++){%>
								<a href= "./tripForum?pageNo=<%=i%>"><%=i%></a>
							<%}
							if(pageNo+10<MaxIndex){%><a href="./tripForum?pageNo=<%=pageNo+10%>"> &nbsp > &nbsp </a><%}
						}else{		
							for(var i=1;(i<=MaxIndex);i++){%><a href= "./tripForum?pageNo=<%=i%>"><%=i%></a><%}
						}%>
						<a href="./tripForum?pageNo=<%=MaxIndex%>">>></a>
				</div>
			<%}%>
			
			
			<%if(userName!="") {%>
					<div ><a href= "./boardEnroll?boardType=tripForum"><button  >글쓰기</button></a></div>
			<%}%>
			
		</div>
	</article>


	<article id = "LoginMenu">
		<% if(!userName){ %>
        <form method = "post" action = "../users/login">
            <div id = "IDPWD1">
                
                <div id = "id">
                    아이디
                    <div id = "idbox"><input type = "text" name = "userID" class = "form-control" size = 30></div>
                </div>
                
                <div id = "psd">
                    패스워드
                    <div id = "psdbox"><input type = "password" name = "userPassword" class = "form-control" size = 20></div>
                </div>
                
                <button id = "LogIn"type = "submit" >로그인</button>
            </div>
            
            <div id = "IDPWD1">
                <div id = "CreateIDAndPassWord">
                    <a href = "../users/join">회원가입</a>
                </div>
            </div>
        </form>

    <%}else{ %>
        <%= userName %>님 환영합니다.<br>
        <a href = "../users/logout">로그아웃.</a>
    <%} %>
	</article>
</section>
<footer>

			개인정보처리방침<br>
			copyright  all right reserved
</footer>
</body>

</html>







