<%
//가져와야하는 데이터
//var userID = "";
//var userName="";
//var board ="";
//url로 보낸 key로 검색한 travel보드
%>



<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset = "UTF-8">
		<title>WTG</title>
		<link rel = "stylesheet" href = "/public/styles/styles.css"/>
		<script src = "/public/scripts/scripts.js"></script>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<!-- include libraries(jQuery, bootstrap) -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
		<!-- include summernote css/js-->
		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<style>
	#map {
	  width:500px; height:300px;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
	  height: 50%;
	  margin: 0;
	  padding: 0;
	}
	#description {
	  font-family: Roboto;
	  font-size: 15px;
	  font-weight: 300;
	}

	#infowindow-content .title {
	  font-weight: bold;
	}

	#infowindow-content {
	  display: none;
	}

	#map #infowindow-content {
	  display: inline;
	}

	.pac-card {
	  margin: 10px 10px 0 0;
	  border-radius: 2px 0 0 2px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  outline: none;
	  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	  background-color: #fff;
	  font-family: Roboto;
	}

	#pac-container {
	  padding-bottom: 12px;
	  margin-right: 12px;
	}

	.pac-controls {
	  display: inline-block;
	  padding: 5px 11px;
	}

	.pac-controls label {
	  font-family: Roboto;
	  font-size: 13px;
	  font-weight: 300;
	}

	#pac-input0 {
	  background-color: #fff;
	  font-family: Roboto;
	  font-size: 15px;
	  font-weight: 300;
	  margin-left: 12px;
	  padding: 0 11px 0 13px;
	  text-overflow: ellipsis;
	  width: 400px;
	}

	#pac-input0 :focus {
	  border-color: #4d90fe;
	}

	#title {
	  color: #fff;
	  background-color: #4d90fe;
	  font-size: 25px;
	  font-weight: 500;
	  padding: 6px 12px;
	}
  </style>

		<script>
			var board = <%-JSON.stringify(board)%>;
			var pageNo = 1;
			var maxPage = board.travelTotalSpanTime;
			function renewContent()
			{
				var contentLR = $("#contentTable tr:eq(4)");	
				var contentMap = $("#contentTable");
				//왼쪽 페이지
				if(pageNo+1 > maxPage )//데이터 없을 때
				{
					contentMap.children("tbody").children("td").children("#pac-card0").display ="none";
					contentMap.children("tbody").children("td").children("#map0").display ="none";
					contentMap.children("tbody").children("td").children("#infowindow-content0").display ="none";
					$("#travelContentR").display ="none";
				}else{$("#dayR").text(pageNo + "일차");
				contentLR.children("td").eq(1).text("");
				contentLR.children("td").eq(1).append(board["travelContent" + pageNo]);
				contentMap.children("tbody").children("td").children("#inputMapPos0").attr("value",board["travelMapPos"+pageNo]);
				contentMap.children("tbody").children("td").children("#inputMapInfo0").attr("value",JSON.stringify(board["travelMapInfo"+pageNo]));
				displayMapLR(0, pageNo, board["travelMapPos"+pageNo]);
				$("#travelContentL").val(board["travelContent"+pageNo]);
				}
			}

			function pageUp() {
				if(pageNo == maxPage) return;
				pageNo++;
				if(pageNo > 1) $("#before").attr("disabled", "false");
				if(pageNo == maxPage) $("#next").attr("disabled", "true");
				else $("#next").attr("disabled", "false");
				renewContent();
			}
			function pageDown(){
				if(pageNo == 1)	return;
				pageNo--;
				if(pageNo < maxPage) $("#next").attr("disabled", "false");
				if(pageNo == 1) $("#before").attr("disabled", "true");
				else $("#before").attr("disabled", "false");
				renewContent();
			}

		//왼쪽 맵 로딩
		function displayMapLR(numLR, day, latlng) {

			var mapId = "map";
			mapId += numLR;

			latlng = JSON.parse(latlng);
			var map = new google.maps.Map(document.getElementById(mapId), {
			center: latlng,
			zoom: 17
			});
			var card = document.getElementById('pac-card'+numLR);
			var input = document.getElementById('pac-input'+numLR);

			map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

			var autocomplete = new google.maps.places.Autocomplete(input);

			// Bind the map's bounds (viewport) property to the autocomplete object,
			// so that the autocomplete requests use the current map bounds for the
			// bounds option in the request.
			autocomplete.bindTo('bounds', map);

			// Set the data fields to return when the user selects a place.
			autocomplete.setFields(
			['address_components', 'geometry', 'icon', 'name']);

			var infowindow = new google.maps.InfoWindow();
			var infowindowContent = document.getElementById('infowindow-content'+numLR);
			infowindow.setContent(infowindowContent);
			var marker = new google.maps.Marker({
			map: map,
			anchorPoint: new google.maps.Point(0, -29)
			});
			marker.setPosition(latlng);
			marker.setVisible(true);
			var originAddress = '';
			var originPlace = board["travelMapInfo"+day];
			if (originPlace.address_components) {
			originAddress = [
			(originPlace.address_components[0] && originPlace.address_components[0].short_name || ''),
			(originPlace.address_components[1] && originPlace.address_components[1].short_name || ''),
			(originPlace.address_components[2] && originPlace.address_components[2].short_name || '')
			].join(' ');
			}

			infowindowContent.children['place-icon'].src = originPlace.icon;
			infowindowContent.children['place-name'].textContent = originPlace.name;
			infowindowContent.children['place-address'].textContent = originAddress;
			infowindow.open(map, marker);

			autocomplete.addListener('place_changed', function() {
			infowindow.close();
			marker.setVisible(false);
			var place = autocomplete.getPlace();
			if (!place.geometry) {
			// User entered the name of a Place that was not suggested and
			// pressed the Enter key, or the Place Details request failed.
			window.alert("찾을 수 없습니다. : '" + place.name + "'");
			return;
			}

			// If the place has a geometry, then present it on a map.
			if (place.geometry.viewport) {
			map.fitBounds(place.geometry.viewport);
			} else {
			map.setCenter(place.geometry.location);
			map.setZoom(17);  // Why 17? Because it looks good.
			}
			marker.setPosition(place.geometry.location);
			marker.setVisible(true);

				//경도 위도 삽입부, 로그 보기니까 좌표 또 안들어가게 비활성화
				//var markerPos = place.geometry.location;
				//$('#inputMapPos'+day).attr("value", JSON.stringify(markerPos));

			var address = '';
			if (place.address_components) {
			address = [
				(place.address_components[0] && place.address_components[0].short_name || ''),
				(place.address_components[1] && place.address_components[1].short_name || ''),
				(place.address_components[2] && place.address_components[2].short_name || '')
			].join(' ');
			}

			infowindowContent.children['place-icon'].src = place.icon;
			infowindowContent.children['place-name'].textContent = place.name;
			infowindowContent.children['place-address'].textContent = address;
			infowindow.open(map, marker);
			$("#inputMapInfo"+numLR).attr("value", JSON.stringify(place));
			});
		}


		</script>
	</head>
	<body onload="renewContent();">
		<header>
			<div id = "backtoindex" style="position:absolute; top:25px; text-align:center; width:200px;">
				<a href = "../board/tripPlan" style="color:black;text-decoration: none;">wtg</a>
				</div>
				<nav    style="position:absolute;right:0px;width:80%;">  
				<ul>
					<li><a href= "../board/tripPlan"    style="color:black;text-decoration: none;">   여행 플랜</a></li>
					<li><a href= "../board/tripLog"     style="color:black;text-decoration: none;">   여행 일지</a></li>
					<li><a href= "../board/tripForum"   style="color:black;text-decoration: none;">   여행게시판</a></li>
					<li><a href= "../board/countryForum"style="color:black;text-decoration: none;">     해외 포럼</a></li>
					<li><a href= "../board/freeForum"   style="color:black;text-decoration: none;">   자유게시판</a></li>
				</ul>
			  </nav>
		</header>
  		<section>
			<article id = "index2">
				<div id = "upperBoardBorderSolid">
				</div>

				<div id = "mainBoard">
					<table style="width:100%;table-layout:fixed" id="contentTable">
							<thead style ="text-align:center;">
								<tr style = "background-color:#B2CCFF">
									<th width = "10%">나라</th>
									<th width = "20%"><%=board.travelCountry%></th>
									<th width = "10%">출발일</th>
									<th width = "25%"><%=board.travelStartDate%></th>
									<th width = "10%">여행일수</th>
									<th width = "25%"><%=+board.travelTotalSpanTime%></th>
								</tr>
								<tr>
									<td >작성자</td>
									<td ><%=board.travelWriter%></td>
									<td >제목</td>
									<td colspan="3" ><%=board.travelTitle%></td>
								</tr>
								<tr style = "background-color:#B2CCFF">
									<tr colspan="3">
										<label id="dayR">1일차</label>
									</tr>
								</tr>
							</thead>
							<tbody >
								<td colspan = "3" id="travelContentL"><div class="pac-card" id="pac-card0">
									<div>
									<div id="title">
									it is your trip plan(left page)
									</div>
									</div>
									<div id="pac-container">
									<input id="pac-input0" type="text" style="font-size: 20px;" placeholder="Enter a location">
									</div>
									</div>
									<div id="map0"style="width:350px; height:400px;"></div>
									<div id="infowindow-content0">
									<img src="" width="16" height="16" id="place-icon">
									<span id="place-name"  class="title"></span><br>
									<span id="place-address"></span>
									</div>
									<input id="inputMapPos0" type = "text" name = "travelMapPos0" style="display:none;">
									<input id="inputMapInfo0" type = "text" name = "travelMapInfo0" style="display:none;">
									<%=board.travelContent1%></td>
							</tbody>
						</table>
				</div>

				<div >
					<button id="before" onclick="pageDown()" disabled = "true" >이전페이지로</button>
					<button id="next" onclick="pageUp()" disabled = "false" >다음페이지로</button>
					<%if(board.travelWriterID==userID){%>
					<a onclick = "return confirm('수정하시겠습니까?')" href="./reformTravel?key=<%=board.key%>">수정</a>
					<a onclick = "return confirm('삭제하시겠습니까?')" href="./deleteActionTravel?key=<%=board.key%>">삭제</a>
					<%}%>
				</div>
			</article>
			<article id = "LoginMenu">
				<% if(!userName){ %>
					<form method = "post" action = "../users/login">
						<div id = "IDPWD1">
							
							<div id = "id">
								아이디
								<div id = "idbox"><input type = "text" name = "userID" class = "form-control" size = 30></div>
							</div>
							
							<div id = "psd">
								패스워드
								<div id = "psdbox"><input type = "password" name = "userPassword" class = "form-control" size = 20></div>
							</div>
							
							<button id = "LogIn"type = "submit" >로그인</button>
						</div>
						
						<div id = "IDPWD1">
							<div id = "CreateIDAndPassWord">
								<a href = "../users/join">회원가입</a>
							</div>
						</div>
					</form>
	
				<%}else{ %>
					<%= userName %>님 환영합니다.<br>
					<a href = "../users/logout">로그아웃.</a>
				<%} %>
			</article>
		</section>
		<footer>

			개인정보처리방침<br>
			copyright  all right reserved
		</footer>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTjD3ZPWwOu6_i-YKLXqEgFGps6aO0pwY&libraries=places"async defer></script>
	</body>
</html>